@import "../../../styles/variables";

.position-input {
  padding: 0 5px;
  text-align: center;
  color: #3e85c7;
  font-weight: bold;
  background: none;
  font-size: 1.6rem;
  font-family: $font-family-monospace;
  width: 100%;
  margin: 0 4px;
  border: solid 1px #e5e7eb;
}

.position-input:focus {
  background: #FFFFFF;
  border: solid 1px #CCCCCC;
  outline: none;
}


.position-input::-webkit-outer-spin-button, .position-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
