.dropdown {
  background-color: white;
  padding: 4px 6px;
  border: 1px solid #3e85c7;
  border-radius: 3px;
}

.dropdown-item {
  display: block;
  padding: 0.5rem 1.5rem;
}

.macro-commands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.btn-link {
  color: #222;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}


.macro-variables-dropdown {
  max-height: 180px;
  overflow-y: auto;
}

.spread-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
